
.navBar{
    width: 100vw;
    background-image: linear-gradient(to right,rgb(44, 98, 191), rgb(4, 41, 126)); 
    color: white;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items:center;
    position: relative;
    padding: 20px;
    position: sticky;
    top: 0;
}
.navBar > ul {
    display: flex;
    list-style: none;
}
.navBar > ul > li {
    padding: 5px;
}
a,.logoutBtn{  
    color: black !important;
    background-color: white;
    padding: 3px 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

.userIcon{
    display:flex;
    align-items:center;
}
.userWrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    
}
.userPhoto{
    width: 30px;
    height: 30px;
    border-radius:50%;  
    margin-right: 10px;
}
.logo{
    height: 80px;
    pointer-events: none;
}

@media screen and (max-width: 600px) {
    .logo{
        height: 40px;
        pointer-events: none;
    }
}
@media screen and (max-width: 400px) {
    .logo{
        height: 30px;
        pointer-events: none;
    }
}